useDynLib(Rcpp11, .registration = TRUE)

import(methods)

export(cppFunction,
       evalCpp,
       sourceCpp,
       compileAttributes,
       registerPlugin,
       demangle,
       sizeof
       )
S3method( print, bytes )

